 // variable declaration

$header-bgColor :#ffab73;
$text-bgColor :#fff;
$main-bgColor : #98e969;
$footer-bgColor : #4264fa;





 
 /**
 reset code
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }

 header{
    background: $header-bgColor;
    text-align: center;
 }

//  navStyles

nav{
    margin-top: 15px;
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            a{
                display: inline-block;
                text-decoration: none;
                color: $text-bgColor;
                padding: 10px;
                transition: 0.4s;
                &:hover{
                    color:rgb(79, 250, 63)
                }
            }
        }
        
    }
}

 main{
    background-color: $main-bgColor;
 }

 footer{
    background-color: $footer-bgColor;
 }



